.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  padding: 5px;
  margin: 1em;
}

.container td {
  border: none;
  border-radius: none;
}

.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 10px;
}

.button img {
  background-color: transparent;
  background: none;
  border-radius: 10px;
  border: 1px solid #000;
  height: 30px;
  width: 30px;
}
