.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  flex-wrap: nowrap;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
