body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f6fcff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr {
  background-color: #2b2726;
}

button,
.btn_submit {
  background-color: #edf3f6;
  border: 1px solid #000;
  border-radius: 10px;
  height: 30px;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

.btn-confirm,
.btn-remove {
  border-radius: 10px;
  /* background-color: #7dad93; */
  font-weight: bold;
  height: 30px;
  width: 30px;
  margin: 10px;
}

.btn-confirm {
  background-color: green;
}

.btn-remove {
  background-color: red;
}

.btn-disable {
  background-color: #edf3f6;
  width: 30px;
  height: 30px;
  color: #000;
}

/*
paleta de cores
#bacca4 disable
#7dad93 confirm
#018790
#0a516d body
#2b2726
*/
